<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.buyfresh">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ContactActivity" android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"  android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".HealthlistActivity"
            android:parentActivityName=".ProductActivity" />
        <activity
            android:name=".PharmacylistActivity"
            android:parentActivityName=".ProductActivity" />
        <activity
            android:name=".BeerlistActivity"
            android:parentActivityName=".ProductActivity" />
        <activity
            android:name=".BreadlistActivity"
            android:parentActivityName=".ProductActivity" />
        <activity
            android:name=".FrozenlistActivity"
            android:parentActivityName=".ProductActivity" />
        <activity
            android:name=".SnacklistActivity"
            android:parentActivityName=".ProductActivity" />
        <activity
            android:name=".BeveragelistActivity"
            android:parentActivityName=".ProductActivity" />
        <activity
            android:name=".DairylistActivity"
            android:parentActivityName=".ProductActivity" />
        <activity
            android:name=".BriefActivity"
            android:parentActivityName=".ProductActivity" />
        <activity
            android:name=".ListActivity"
            android:parentActivityName=".ProductActivity" />
        <activity
            android:name=".CheckoutActivity"
            android:parentActivityName=".ProductActivity" />
        <activity
            android:name=".ProductActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SignupActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>